<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Cadastro de Pessoa</title>
</head>
<style>
    body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #ff6600; /* Laranja Itaú */
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        header img {
            max-width: 50px; /* Ajuste conforme necessário */
            height: auto;
        }

        h2 {
            color: #ff6600; /* Laranja Itaú */
            border-bottom: 2px solid #ff6600; /* Laranja Itaú */
            padding-bottom: 5px;
            margin-top: 20px;
        }

    form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: #003366; /* Azul Itaú */
    }

    input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #003366; /* Azul Itaú */
    }

    button {
        background-color: #ff6600; /* Laranja Itaú */
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #cc5200; /* Laranja mais escuro Itaú ao passar o mouse */
    }

    pre {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ddd;
    }
</style>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo_itau.png') }}" alt="Logo Itaú">
    </header>

    <h2>Cadastrar Pessoas</h2>

    <form id="cadastroForm">
        <label for="nome_completo">Nome Completo:</label>
        <input type="text" id="nome_completo" name="nome_completo" required><br>

        <label for="data_nascimento">Data de Nascimento (YYYY-MM-DD):</label>
        <input type="text" id="data_nascimento" name="data_nascimento" required><br>

        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" required><br>

        <label for="cpf">CPF (000.000.000-00):</label>
        <input type="text" id="cpf" name="cpf" required><br>

        <label for="estado_civil">Estado Civil:</label>
        <input type="text" id="estado_civil" name="estado_civil" required><br>

        <button type="button" onclick="cadastrarPessoa()">Cadastrar</button>
    </form>

    <pre id="resultado"></pre>

    <h2>Lista de Pessoas Cadastradas</h2>
    <button type="button" onclick="listarPessoas()">Listar Pessoas</button>

    
    <pre id="listaPessoas"></pre>

    <h2>Buscar Pessoa por CPF</h2>
    <label for="buscarCpf">CPF:</label>
    <input type="text" id="buscarCpf" name="buscarCpf" required>
    <button type="button" onclick="buscarPessoaPorCpf()">Buscar por CPF</button>
    <pre id="pessoaPorCpf"></pre>

    <h2>Buscar Pessoa por ID</h2>
    <label for="buscarId">ID:</label>
    <input type="text" id="buscarId" name="buscarId" required>
    <button type="button" onclick="buscarPessoaPorId()">Buscar por ID</button>
    <pre id="pessoaPorId"></pre>
    


    <h2>Deletar Pessoa por ID</h2>
    <form id="deletarPorIdForm">
        <label for="deletarId">ID da Pessoa a Deletar:</label>
        <input type="text" id="deletarId" name="deletarId" required><br>
        <button type="button" onclick="deletarPessoaPorId()">Deletar por ID</button>
    </form>
    <pre id="deletarPessoaResultado"></pre>

    <h2>Deletar Pessoa por CPF</h2>
    <form id="deletarPorCpfForm">
        <label for="deletarCpf">CPF da Pessoa a Deletar:</label>
        <input type="text" id="deletarCpf" name="deletarCpf" required><br>
        <button type="button" onclick="deletarPessoaPorCpf()">Deletar por CPF</button>
    </form>

    <pre id="deletarPessoaResultado2"></pre>

<h2>Atualizar Pessoa por ID</h2>
<form id="atualizarPorIdForm">
    <label for="atualizarId">ID da Pessoa a Atualizar:</label>
    <input type="text" id="atualizarId" name="atualizarId" required><br>

    <label for="campo">Campo a Atualizar:</label>
    <input type="text" id="campo" name="campo" required><br>

    <label for="novoValor">Novo Valor:</label>
    <input type="text" id="novoValor" name="novoValor" required><br>

    <button type="button" onclick="atualizarPessoaPorId()">Atualizar</button>
</form>

<!-- Resultado da Atualização -->
<pre id="resultadoAtualizacao"></pre>

<h2>Atualizar Pessoa por CPF</h2>
    <form id="atualizarPorCpfForm">
        <label for="atualizarCpf">CPF da Pessoa a Atualizar:</label>
        <input type="text" id="atualizarCpf" name="atualizarCpf" required><br>

        <label for="atualizarCampo">Campo a Atualizar:</label>
        <input type="text" id="atualizarCampo" name="atualizarCampo" required><br>

        <label for="atualizarValor">Novo Valor:</label>
        <input type="text" id="atualizarValor" name="atualizarValor" required><br>

        <button type="button" onclick="atualizarPessoaPorCpf()">Atualizar</button>
    </form>

    <!-- Resultado da Atualização -->
    <pre id="resultadoAtualizacaoCPF"></pre>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function cadastrarPessoa() {
            const form = document.getElementById('cadastroForm');
            const formData = new FormData(form);
            const data = {};
            
            formData.forEach((value, key) => {
                data[key] = value;
            });

            axios.post('http://localhost:5000/pessoas/adicionar', data)
                .then(response => {
                    console.log(response);
                    document.getElementById('resultado').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById('resultado').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }

        function listarPessoas() {
            axios.get('http://localhost:5000/pessoas')
                .then(response => {
                    console.log(response);
                    document.getElementById('listaPessoas').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById('listaPessoas').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }

        function buscarPessoaPorCpf() {
            const cpf = document.getElementById('buscarCpf').value;

            axios.get(`http://localhost:5000/pessoas/${cpf}`)
                .then(response => {
                    console.log(response);
                    document.getElementById('pessoaPorCpf').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById('pessoaPorCpf').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }

        function buscarPessoaPorId() {
            const pessoaId = document.getElementById('buscarId').value;

            axios.get(`http://localhost:5000/pessoas/id/${pessoaId}`)
                .then(response => {
                    console.log(response);
                    document.getElementById('pessoaPorId').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById('pessoaPorId').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }

        function atualizarPessoaPorId() {
            const pessoaId = document.getElementById('atualizarId').value;
            const form = document.getElementById('atualizarPorIdForm');
            const formData = new FormData(form);
            const data = {};
            
            formData.forEach((value, key) => {
                if (key != 'atualizarId')
                data[key] = value;
            });
            console.log("Data", data)
            axios.put(`http://localhost:5000/pessoas/id/${pessoaId}`, data)
                .then(response => {
                    console.log(response);
                    document.getElementById('pessoaPorId').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById('pessoaPorId').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }
        function deletarPessoaPorId() {
            const pessoaId = document.getElementById('deletarId').value;

            axios.delete(`http://localhost:5000/pessoas/delete/id/${pessoaId}`)
                .then(response => {
                    console.log(response);
                    document.getElementById('deletarPessoaResultado').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById('deletarPessoaResultado').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }

    function deletarPessoaPorCpf() {
        const cpf = document.getElementById('deletarCpf').value;

        axios.delete(`http://localhost:5000/pessoas/delete/cpf/${cpf}`)
            .then(response => {
                console.log(response);
                document.getElementById('deletarPessoaResultado2').innerText = JSON.stringify(response.data, null, 2);
            })
            .catch(error => {
                console.log(error)
                document.getElementById('deletarPessoaResultado2').innerText = JSON.stringify(error.response.data, null, 2);
            });
    }

    function atualizarPessoaPorId() {
            const pessoaId = document.getElementById('atualizarId').value;
            const campo = document.getElementById('campo').value;
            const novoValor = document.getElementById('novoValor').value;

            const data = {
                campo: campo,
                novo_valor: novoValor
            };
            
            axios.put(`http://localhost:5000/pessoas/edit/id/${pessoaId}`, data)
                .then(response => {
                    console.log(response);
                    document.getElementById('resultadoAtualizacao').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById('resultadoAtualizacao').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }

        function atualizarPessoaPorCpf() {
            const cpf = document.getElementById('atualizarCpf').value;
            const campo = document.getElementById('atualizarCampo').value;
            const novoValor = document.getElementById('atualizarValor').value;

            const data = {
                campo: campo,
                novo_valor: novoValor
            };

            axios.put(`http://localhost:5000/pessoas/edit/cpf/${cpf}`, data)
                .then(response => {
                    console.log(response);
                    document.getElementById('resultadoAtualizacaoCPF').innerText = JSON.stringify(response.data, null, 2);
                })
                .catch(error => {
                    console.log(error);
                    document.getElementById('resultadoAtualizacaoCPF').innerText = JSON.stringify(error.response.data, null, 2);
                });
        }


    </script>

</body>
</html>
